.politics {
  padding: 50px 0;

  &-header {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: var(--white);
    text-align: center;
  }

  &-subheader {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: var(--white);
    margin: 42px 0 30px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      position: relative;
      width: calc((100% / 3) - 70px);
      height: 240px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      &-name {
        width: 100%;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 27px;
        color: #222222;
        background: rgba(255, 255, 255, 0.83);
      }

      &-tooltip {
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;
        color: var(--black);
        left: 100%;
        width: 400px;
        pointer-events: none;
        appearance: none;
        background-color: var(--tooltip-bg);
        padding: 16px 16px 16px 75px;
        clip-path: polygon(100% 0, 100% 100%, 75px 100%, 0 50%, 75px 0);
        z-index: 1;
        animation: fadeIn 0.4s ease-in-out;

        &-switched {
          left: initial;
          right: 100%;
          clip-path: polygon(
            calc(100% - 75px) 0,
            100% 50%,
            calc(100% - 75px) 100%,
            0 100%,
            0 0
          );
          padding: 16px 75px 16px 16px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


// Mobile
@media only screen and (max-width: 414px) {
  .politics {
    padding: 70px 0;

    &-header {
      font-size: 27px;
      line-height: 32px;
    }

    &-subheader {
      display: none;
    }

    &-list {
      flex-direction: column;

      &-item {
        width: auto;
        margin:13px 17px 18px;

        &:last-child {
          margin-bottom: 0;
        }

        &-name {
          font-size: 23px;
          line-height: 27px;
        }
      }
    }

    &-mobile-tooltip {
      position: absolute;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: var(--black);
      // left: 100%;
      width: 400px;
      // height: 400px;        
      // appearance: none;
      pointer-events: none;
      background-color: var(--tooltip-bg);
      // padding: 16px 16px 16px 75px;
      z-index: 50;
      transform: translateX(-100%);
      // animation: fadeIn 0.4s ease-in-out;
      // top: 250px;
      

      &-show {
        transform: translateX(0);
        // left: initial;
        // right: 100%;
      }

      &-navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-close {
          z-index: 150;
        }

        &-close1 {
          width: 40px;
          height: 0px;
          border: 2px solid var(--black);
          transform: rotate(45deg) translate(14px, 12px);
          margin: 0 0 10px 0;
        }
        
        &-close2 {
          width: 40px;
          height: 0px;
          border: 2px solid var(--black);
          opacity: 0;
          margin: 0 0 10px 0;
        }
  
        &-close3 {
          width: 40px;
          height: 0px;
          border: 2px solid var(--black);
          transform: rotate(-45deg) translate(7px, -6px);
          margin: 0 0 10px 0;
        }
      }
    }
  }
}