.hero {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("../../assets/hero_bg.jpg");

  background-size: cover;
  padding-bottom: 178px;

  &-sponsor-block {
    display: flex;
    align-items: center;

    &-item {
      margin-left: 60px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-nav-links {
    margin-top: 45px;

    &-item {
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 22px;
      color: var(--white);
      text-decoration: none;
      margin-left: 74px;

      &:first-child {
        margin-left: 35px;
      }
    }
  }

  &-header {
    font-size: 57px;
    line-height: 67px;
    font-style: normal;
    font-weight: normal;
    width: 664px;
    height: 131px;
    color: var(--white);
    margin: 108px 0 0 35px;
  }

  &-button {
    background-color: var(--hero-button-bg);
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: var(--white);
    text-decoration: none;
    padding: 35px 151px;
    display: inline-block;
    margin: 132px 0 0 35px;
  }
}

// Mobile
@media only screen and (max-width: 414px) {

  .hero {
    padding-bottom: 75px;

    &-sponsor-block {
      &-item {
        margin-left: 23px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-header {
      font-size: 32px;
      line-height: 37px;
      width: 374px;
      height: 89px;
      margin: 232px 0 0 20px;
    }

    &-button {
      font-size: 28px;
      line-height: 33px;
      display: inline-block;
      padding: 24px 137.5px;
      margin: 267px 0 0 0;
    }
  } //hero

  .burger {
     padding: 37px 0;

    &-bar {
      width: 40px;
      height: 0px;
      border: 2px solid var(--white);
      margin: 0 0 10px 81px;
      // display: block;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-menu {
      position: absolute;
      z-index: 100;
      width: 414px;
      background-color: var(--body-bg);
      transform: translateX(-100%);
      // transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      animation: fadeIn 0.2s ease-in-out;

      &-show {
        transform: translateX(0);
        // animation: fadeIn 0.2s ease-in-out;
      }

      &-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px 0 20px;

        &-close1 {
          width: 40px;
          height: 0px;
          border: 2px solid var(--white);
          transform: rotate(45deg) translate(14px, 12px);
          margin: 0 0 10px 0;
        }
        
        &-close2 {
          width: 40px;
          height: 0px;
          border: 2px solid var(--white);
          opacity: 0;
          margin: 0 0 10px 0;
        }
  
        &-close3 {
          width: 40px;
          height: 0px;
          border: 2px solid var(--white);
          transform: rotate(-45deg) translate(7px, -6px);
          margin: 0 0 10px 0;
        }
      }
      
      &-links {
        margin: 185px 0 0 0;

        &-item {
          display: block;
          text-align: center;
          font-style: normal;
          font-weight: normal;
          font-size: 23px;
          line-height: 27px;
          color: var(--white);
          text-decoration: none;
          margin-bottom: 39px;

          &:last-child {
            margin-bottom: 266px;
          }
        }
      }

      &-text {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 15px;
        color: var(--white);
        margin-bottom: 31px;
        text-align: center;
      }
    }
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}