.mainfacts {
  padding: 100px 60px 50px;
  box-sizing: border-box;
  position: relative;

  &-header {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: var(--white);
    text-align: center;
    margin-bottom: 40px;
  }

  &-slide {
    &-capt {
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 32px;
      text-align: center;
      color: var(--white);
      margin-top: 40px;
    }
  }

  & > .swiper-button-prev,
  .swiper-button-next {
    color: var(--facts-slide-button);
  }

  & > .swiper-button-prev {
    left: 10px;
  }

  & > .swiper-button-next {
    right: 10px;
  }

  & > .swiper-button-disable {
    opacity: 0;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    margin-top: 66px;

    &-bullet {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin: 0 20px;
      background-color: transparent;
      border: 2px solid var(--facts-slide-bullet);
      opacity: 1;
      transition: 0.3s background-color;
    }

    & > .swiper-pagination-bullet-active {
      background-color: var(--facts-slide-bullet);
    }
  }
}
