.air-q {
  padding: 50px 0;

  &-header {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: var(--white);
  }

  &-map {
    height: 560px;
    margin: 42px 0;
  }

  &-text {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: var(--white);
  }
}

// Mobile
@media only screen and (max-width: 414px) {
  .air-q {
    padding: 0 20px;

    &-header {
      font-size: 27px;
      line-height: 32px;
    }

    &-map {
      // height: 656px;
      width: 374px;
      margin: 26px 10px 17px;
    }
    
    &-text {
      font-size: 17px;
      line-height: 20px;
      margin: 0 7px;
    }
  }
}